@model Epam.AspNet.Module1.Models.Category

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CategoryID" />
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label"></label>
                <input asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*
                    <input asp-for="Picture" class="form-control" />
                    <span asp-validation-for="Picture" class="text-danger"></span>*@
                <label asp-for="Picture" class="control-label"></label>
                @if (Model.Picture != null)
                {
                    <div>
                        <img class="img-thumbnail" src="@Url.Action("Image", new { id = Model.CategoryID })" />
                    </div>
                }
                <input asp-for="Picture" type="file" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Headers {
    
   <button class="btn btn-danger" value="Delete current" onclick="onDelete();">Delete current</button>
    
}

@section Footers {
    <p>On this page you can upload a new image for the category!</p>
}

@section Scripts {
    <script>
        function onDelete() {
            if (confirm("Do you want to delete this category?")) {
                let id = $("#CategoryID").val();
                $.ajax({
                    url: `/categories/delete/${id}`,
                    type: 'DELETE',
                    success: function (result) {
                        window.location = '/categories';
                    },
                    error: function () {
                        alert('Could not delete the category. Maybe it does not exist.');
                    }
                });
            }
        }
    </script>
}