
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Module1 - @ViewData["Title"]</title>
    <style>
        .disclaimer {
            color: gray;
            font-size: smaller
        }
    </style>
</head>
<body>
    @RenderBody()
    <hr />
    <p class="disclaimer">
        Disclaimer: this task was done in the style of minimalism. This is by intent. It was created from empty template, with no wizards or scaffolders.
        The absence of something does not indicate the lack of knowledge :)
    </p>
</body>
</html>
