@model Product
@{
    ViewData["Title"] = "Product";
}
<style>
    .field-validation-error {
        color: #b94a48;
    }

    .field-validation-valid {
        display: none;
    }

    input.input-validation-error {
        border: 1px solid #b94a48;
    }

    input[type="checkbox"].input-validation-error {
        border: 0 none;
    }

    .validation-summary-errors {
        color: #b94a48;
    }

    .validation-summary-valid {
        display: none;
    }
</style>
<script>
    $.validator.methods.number = function (value, element) {
        return this.optional(element) || /-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
    }

    $(document).ready(function () {

        $('#theForm').validate({
            rules: {
                UnitPrice: {
                    number: false,
                    checkPrice: true
                }
            },
            messages: {
                UnitPrice: { checkPrice: "That's too much (client)!" }
            }
        });

        $.validator.addMethod('checkPrice', function (value, element, params) {
            return false;
        });
    });
</script>
<h1>Product3</h1>
<form id="theForm" method="post" asp-controller="Products" asp-action="Edit">
    @Html.ValidationSummary()
    <div>
        <input type="hidden" asp-for="ProductID"/>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="ProductName"></label>
            <input asp-for="ProductName" class="form-control" />
        </div>
        <div class="form-group col-md-6">
            <label asp-for="QuantityPerUnit"></label>
            <input asp-for="QuantityPerUnit" class="form-control" />
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="UnitPrice"></label>
            <input asp-for="UnitPrice" class="form-control" />
        </div>
        <div class="form-group col-md-6">
            <label asp-for="UnitsInStock"></label>
            <input asp-for="UnitsInStock" type="number" class="form-control" />
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="UnitsOnOrder"></label>
            <input asp-for="UnitsOnOrder" type="number" class="form-control" />
        </div>
        <div class="form-group col-md-6">
            <label asp-for="ReorderLevel"></label>
            <input asp-for="ReorderLevel" type="number" class="form-control" />
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Supplier"></label>
            <select asp-for="SupplierID" asp-items="@ViewBag.SupplierID" class="form-control"></select>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Category"></label>
            <select asp-for="CategoryID" asp-items="@ViewBag.CategoryID" class="form-control"></select>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <input type="checkbox" asp-for="Discontinued" class="checkbox" />
            <label asp-for="Discontinued"></label>
        </div>
    </div>


    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary">
        @if (TempData["SaveMessage"] is string s)
        {
            <i>@s</i>
            TempData["SaveMessage"] = null;
        }
    </div>
</form>


