@{
    ViewData["Title"] = "Reset password";
}

<h2>@ViewData["Title"]</h2>
<p>
    Email has NOT been sent to you. Please follow the link in it.
</p>
<p>
    Притворимся что вы получили емейл со ссылкой
</p>
<a asp-controller="Account" asp-action="ResetPassword" asp-route-userId="@ViewBag.UserId" asp-route-code="@ViewBag.Code">Сброс</a>