<!DOCTYPE html>
<html>
    <head>
        <title>Module1 - Home</title>
    </head>
    <body>
        <h1>This is the homepage of the Module1</h1>
        The pages:
        <ul>
            <li>@Html.ActionLink("Show categories", "Index", "Categories")</li>
            <li>@Html.ActionLink("Show products", "Index", "Products")</li>
        </ul>
    </body>
</html>

